@charset "UTF-8";
*{
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    transition-timing-function: linear;
}
img{display:none;}
article{
    margin: 1em auto 1em auto;
    padding: 0;
    width: 960px;
}
section{
    margin-top: 3em;
    margin-left: 5em;
    opacity: 0;
}
.shown{
    margin-top: 1em;
    margin-left: 0;
    opacity: 1;
}